h2 {
    color: white;
    padding: 0px 20px;
}

.nav-nav-link {
    color: white !important;
}

.resume-link {
    font-size: 22px;
    padding-left: 30px;
}

.fas {
    padding-right: 30px;
}

.nav-nav {
    background-color: cadetblue!important;
}

html {
    height: 100%;
    background-color: white;
}

.row {
    height: 100%;
    padding-top: 33px;
    margin-left: 15px !important;
}

.jumbotron-fluid {
    margin-top: 63px;
    padding: 30px 50px;
}

.list-title {
    font-size: 20px;
    font-weight: 750;
    color: cadetblue;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: cadetblue!important;
}

.portraits {
    width: 35% !important;
}

.d-block {
    display: block!important;
    width: 20% !important;
    margin: auto !important;
}

.list-group-item-action {
    width: 100%;
    color: cadetblue;
    text-align: inherit;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: cadetblue!important;
    border-color: rgb(107, 233, 233) !important;
}

img {
    width: 413px;
    height: 20%;
}

@media (min-width: 576px) {
#table-list {
    max-width: 20% !important;
    margin-bottom: 100px;
}

#table-content {
    max-width: 60% !important;
    margin-bottom: 315px;
}
}

footer {
    background-color: cadetblue!important;
    color: white;
    text-align: center;
    padding: 10px;
}