
h2, h3 {
    color: white;
}

.resume-link {
    font-size: 22px;
    padding-left: 30px;
}

.fas {
    padding-right: 30px;
}

.nav-nav {
    background-color: cadetblue!important;
}

html {
    height: 100%;
}

.row {
    height: 100%;

}

.jumbotron-fluid {
    margin-top: 63px;
    padding: 30px 50px;
}

.carousel-buttons {
    color: cyan;
}

.d-block {
    display: block!important;
    width: 20% !important;
    margin: auto !important;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: cadetblue!important;
    border-color: rgb(107, 233, 233) !important;
}

@media (min-width: 576px) {
#table-list {
    max-width: 20% !important;
    margin-bottom: 100px;
}

#table-content {
    max-width: 60% !important;
    margin-bottom: 100px;
}
}

footer {
    background-color: cadetblue!important;
    color: white;
    text-align: center;
    padding: 10px;
}